.div{
    margin-top: 25px;
}
.card{
    background-color: #171a5b;
    text-align: left;
}
.title{
    color: #f0f1f5;
    text-transform: capitalize;
}
.audioIcon{
    float : right;
    background-color:#bc4264 ;
    color: #f0f1f5;
    padding: 3px;  
}
.text{
    color :red;
}
.IPA{
    float: right;
    color: #f0f1f5;
}
.cardTitle{
    padding-bottom: 10px;
}
.partOfSpeech{
    margin-top: 25px;
    background-color: #fcfcfd;
    margin-bottom: 25px;
}
.definition{
    text-transform: capitalize;
    color: #9b9cad;
}

@media screen and (min-width: 576px){
    .partOfSpeech:last-child{
        margin-bottom: 150px;
    }
}